In [1]:
import pandas as pd

## The ultimate goal of this project is to think of ways to improve collaboration throughout the company. 

#### Create a report that covers the following:  
####  1. Which departments are the most/least active?
####  2. Which employee has the most connections? 
####  3. Identify the most influential departments and employees.
####  4. Using the network analysis, in which departments would you recommend the HR team focus to boost collaboration?

In [14]:
# Import data from Datacamp downloaded file
employees = pd.read_csv(r'C:\Users\Nicholas.Xiang\OneDrive - Conrad Energy Limited\Desktop\Offline Work\Datacamp\Employee Network Analysis\data\employees.csv')
messages = pd.read_csv(r'C:\Users\Nicholas.Xiang\OneDrive - Conrad Energy Limited\Desktop\Offline Work\Datacamp\Employee Network Analysis\data\messages.csv')

employees 
messages

      sender  receiver                 timestamp  message_length
0         79        48  2021-06-02T05:41:34.000Z              88
1         79        63  2021-06-02T05:42:15.000Z              72
2         79        58  2021-06-02T05:44:24.000Z              86
3         79        70  2021-06-02T05:49:07.000Z              26
4         79       109  2021-06-02T19:51:47.000Z              73
...      ...       ...                       ...             ...
3507     469      1629  2021-11-24T05:04:57.000Z              75
3508    1487      1543  2021-11-26T00:39:43.000Z              25
3509     144      1713  2021-11-28T18:30:47.000Z              51
3510    1879      1520  2021-11-29T07:27:52.000Z              58
3511    1879      1543  2021-11-29T07:37:49.000Z              56

[3512 rows x 4 columns]

In [11]:
df1 = messages.merge(employees, left_on='sender', right_on='id', how='inner')
df1 = df1.rename(columns={'id': 'id_sender', 'department': 'department_sender', 'location': 'location_sender', 'age': 'age_sender'})
df1

df2 = df1.merge(employees, left_on='receiver', right_on='id', how='inner')
df2 = df2.rename(columns={'id': 'id_receiver', 'department': 'department_receiver', 'location': 'location_receiver', 'age': 'age_receiver'})
df2

,sender,receiver,timestamp,message_length,id_sender,department_sender,location_sender,age_sender,id_receiver,department_receiver,location_receiver,age_receiver
0,79,48,2021-06-02T05:41:34.000Z,88,79,Sales,France,33,48,IT,France,34
1,144,48,2021-06-05T11:19:34.000Z,33,144,Sales,US,50,48,IT,France,34
2,144,48,2021-06-05T11:35:09.000Z,85,144,Sales,US,50,48,IT,France,34
3,144,48,2021-06-05T11:39:57.000Z,69,144,Sales,US,50,48,IT,France,34
4,144,48,2021-06-07T08:09:32.000Z,28,144,Sales,US,50,48,IT,France,34
...,...,...,...,...,...,...,...,...,...,...,...,...
3507,1881,1079,2021-11-17T07:11:12.000Z,22,1881,Sales,Germany,57,1079,Engineering,UK,58
3508,1881,1079,2021-11-17T07:21:27.000Z,41,1881,Sales,Germany,57,1079,Engineering,UK,58
3509,1881,1079,2021-11-17T07:25:51.000Z,28,1881,Sales,Germany,57,1079,Engineering,UK,58
3510,1881,1079,2021-11-17T07:27:59.000Z,45,1881,Sales,Germany,57,1079,Engineering,UK,58
3511,1881,1079,2021-11-17T07:30:01.000Z,19,1881,Sales,Germany,57,1079,Engineering,UK,58

### Which departments are the most/least active?

In [35]:
sender = df2.groupby(['department_sender']).agg({'sender': 'count'}).reset_index()
sender

  department_sender  sender
0             Admin     857
1       Engineering      26
2                IT      49
3         Marketing      16
4        Operations    1013
5             Sales    1551

In [39]:
receiver = df2.groupby(['department_receiver']).agg({'receiver': 'count'}).reset_index()
receiver

  department_receiver  receiver
0               Admin       797
1         Engineering       252
2                  IT       249
3           Marketing       140
4          Operations       845
5               Sales      1229

In [43]:
sender_receiver = sender.merge(receiver, left_on='department_sender', right_on='department_receiver', how='inner').drop('department_receiver', axis=1).rename(columns={'department_sender': 'department'})
sender_receiver

    department  sender  receiver
0        Admin     857       797
1  Engineering      26       252
2           IT      49       249
3    Marketing      16       140
4   Operations    1013       845
5        Sales    1551      1229

In [25]:
gg2 = df2.groupby(['department_receiver', 'department_sender']).agg({'sender': 'count'})
gg2

                                       sender
department_receiver department_sender
Admin               Admin                 172
                    Engineering             4
                    IT                      8
                    Marketing               4
                    Operations            245
                    Sales                 364
Engineering         Admin                  33
                    Engineering             6
                    IT                      6
                    Marketing               2
                    Operations             91
                    Sales                 114
IT                  Admin                  48
                    Engineering             3
                    IT                      6
                    Operations             76
                    Sales                 116
Marketing           Admin                  19
                    IT                      3
                    Operations             40
                    Sales                  78
Operations          Admin                 287
                    Engineering             8
                    IT                     10
                    Marketing               2
                    Operations            198
                    Sales                 340
Sales               Admin                 298
                    Engineering             5
                    IT                     16
                    Marketing               8
                    Operations            363
                    Sales                 539